{% extends 'base.twig' %}

{% block main %}

<!-- Héritage de template ? Block(s) ? -->

<div class="grid">
    <article>
        <h2>Discover the {{MyDino.name}}</h2>

        <div class="description">
           {{MyDino.description | markdown | raw }}
        </div>

        <div class="card">
            <img src="{{MyDino.avatar}}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{MyDino.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{MyDino.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{MyDino.diet}}</dd>
                <dt>Height</dt>
                <dd>{{MyDino.height}}</dd>
                <dt>Length</dt>
                <dd>{{MyDino.length}}</dd>
                <dt>Weight</dt>
                <dd>{{MyDino.weight}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->

            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>

    </aside>
</div>
{% endblock %}